/* @import url('node_modules/bootstrap/dist/css/bootstrap.min.css'); */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* View: Login */

.vertical-offset-100{
    padding-top:100px;
}

.titulo{
	font-size:18px;
    color: #562D2F;
}
.panel-login {
    margin-bottom: 20px;
    background-color: #9DCDD3;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-bottom: 0px;
}

.panel-scroll {
	max-height:300px;
	overflow:scroll;
	} 

.header-panel-login {
    color: white !important;
    background-color: #015F70 !important;
}

.botones {
    background-color: #562D2F;
    color: white;
}

.button1 {
	font-size: 13px;
	float: right !important;
}

.popup{
	width: 15%;
}
.row {
    margin-right: -1px;
    margin-left: -1px;
}
.popup{
	width: 24%;
}
.search{
	font-size:12px;
}

.botones:hover, .botones:focus{    
    font-weight: bold;
    background: #AD807B;
    border: 1px solid #562D2F;
    color: #562D2F;
}

/* View: Header */

.navbar-header-background {
    background: -webkit-linear-gradient(#9DCDD3, #9DCDD3, #9DCDD3);
    background: -o-linear-gradient(#9DCDD3, #9DCDD3, #9DCDD3);
    background: -moz-linear-gradient(#9DCDD3, #9DCDD3, #9DCDD3);
    background: linear-gradient(#9DCDD3, #9DCDD3, #9DCDD3);
}

.navbar-header-font {
    color: #fff !important;
}

/* View: Inicio */
.fondoViews {
    background: url('resources/Fondo.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
.panel-views {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0px;
    height: 100%;
}

.font-campos {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    
}

.margin-campos {
    margin-bottom: 10px;
}

.dropdown-views {
    list-style-type:none;
    padding-left: 0px;
}

.panel-default {
    border-color: white !important;
}

.input-group .checkbox {
    padding-left: 10px;
}

.pagination > li > a, .pagination > li > span {
    color: black;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
   background-color: #015F70;
    border-color: #AD807B;
}

.nav-tabs > li > a {
    background-color: #E84C3D;
    color: white;
}

.nav-tabs > li > a:hover {
    color: black;
}

.seccionActiva, .nav > li > a:focus {
    background-color: #E84C3D;
    color: white !important;
}

.nav-tabs > li.active > a:focus {
    color: black !important;
}

.navbar-toggle {
       margin-top: 2px !important; 
}

/* Tabla */

#seccionTabla {
    margin-top: 20px;
}

thead {
    font-weight: bold;
    background-color: #015F70;
    color: white;
    font-size: 14px;
}
th{
    text-align: center;
}

tbody{
	font-size: 11px;
}



.usrSelec {
    font-weight: bold;
}

/*Hover cuando esta sobre una fila en la tabla*/
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th { 
   background-color: #9DCDD3 !important;
    color: #004975;
}
/*Colores de filas intercalados*/
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #eee;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #fff;
}

.btn-group .btn-default {
    padding: 5px;
}

@media (max-width: 992px) {
	.popup{
	
	font-size:10px;
	}
	
    thead {
        font-size: 12px;
    }
    tbody {
        font-size: 12px;
    }
    .esconderResponsive {
        display: none;
    }
    .tituloHeader {
        font-size: 12px;
    }    
    .mostrarResponsive {
        display: inline;
    }
    .marginResponsive {
        margin-top: 10px;
    }
    .menuToggle {
    	float: left !important;
    }
    .logoResponsive {
    	width: 305px;
    }
    input{
	font-size:12px;
	
}
} 

@media (min-width: 993px) {       
    .mostrarResponsive {
        display: none;
    }
    
    .marginResponsive {
        margin-top: 0px;
    }
    .popup{
	
	font-size:10px;
	}
}

/*View: Admin*/

.botonLista {
    display: inline-block;
    min-width: 10px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
    float: right;
}

.botonLista > .btn-default {
    padding: 3px;
    line-height: 1;
    font-size: 10px;
}

/* Estilo para tabs verticales */

.subtitulo {
    font-weight: bold;
    padding: 7px;
    margin: 0px;
    margin-left: 50px;
    font-size: 20px;
}

.listaApps {
    min-height: 500px;
    border-color: transparent !important;
    background: none
}

.fondoColor {
    background: rgba(99, 183, 206, 0.1);
}

/* Estilo para switch */
.switch.checked {
    background: #3AE5E5;
    border-color: #3AE5E5;
}
.proyCerrado {
	border: lightgrey 1px solid;
    padding: 11px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #9DCDD3;
    color: white;
}
.proyCerrado2 {
	border: lightgrey 1px solid;
    padding: 11px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #015F70;
    color: white;
    height: 60px;
}
.panel-info {
    border-color: #9DCDD3;
}
.panel-info > .panel-heading {
    color: #fbf9fb;
    background-color: #015F70;
}

.panel-title {
	    font-size: 13px;
	}
	
.modal-title {
    text-align: left;
}
/* Estilos PopUpAgregar */

.simple-form-PopUp {
  display: flex;
  padding-bottom: 1.25rem;
}
.simple-form-PopUp input {
  margin: 0 .25rem;
  min-width: 125px;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
}
.simple-form-PopUp input:optional {
  border-left-color: #999;
}
.simple-form-PopUp input:required {
  border-left-color: palegreen;
}
.simple-form-PopUp input:invalid {
  border-left-color: salmon;
}
.simple-form-PopUp input:ng-invalid  { border: 1px solid red; }
/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[data-dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[data-dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[data-dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.simpleDemo ul[data-dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;    
}

.simpleDemo ul[data-dnd-list] li:hover {
    background-color: #015F70;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    color: white;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[data-dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

h1#retroshadow {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 40px;
  padding: 0px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #562D2F;
  letter-spacing: .05em;
  text-shadow: 2px 2px 0px #ad807b91, 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.evidencias
{
  text-align:center;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    width: 205px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}