<div class="col-md-12"
	style="padding-top: 10px; background-color: rgba(255, 255, 255, 0.4); min-height: 500px;">
	<div menuEsquina></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 text-center"></div>
			<div class="col-md-8 text-center" style="margin-bottom: 50px;">
				<h1 id="retroshadow">Administraci&oacute;n de Recursos</h1>

			</div>
			<div class="col-md-2 text-center">
				<button type="button" class="btn botones button1 "
					data-toggle="modal" data-backdrop="static" data-target="#myModal20">
					<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
					Gestionar Administradores
				</button>
			</div>

			<!-- Modal Gestionar administradores-->
			<div class="modal fade" id="myModal20" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button ng-click="cierraModal()" type="button" class="close"
								data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Agregar administradores a
								{{proyectoSelecci}}</h4>
						</div>
						<!--Drag and drop para asignar administradores-->
						<div class="modal-body">

							<div class="container-fluid">
								<div class="simpleDemo row">
									<!--Adiministradores disponibles-->
									<div ng-repeat="(listName, list) in administradores.list1"
										class="col-md-6">
										<div class="panel panel-info">
											<div class="panel-heading">
												<h3 class="panel-title">Disponibles</h3>
											</div>
											<div class="panel-body">
												<ul dnd-list="list" data-backdrop="static">
													<!-- The dnd-draggable directive makes an element draggable and will
												         transfer the object that was assigned to it. If an element was
												         dragged away, you have to remove it from the original list
												         yourself using the dnd-moved attribute -->
													<li style="cursor: pointer;" ng-repeat="item in list"
														dnd-draggable="item" dnd-moved="list.splice($index, 1)"
														dnd-effect-allowed="move"
														dnd-selected="administradores.selected = item"
														ng-class="{'selected':administradores.selected === item}">
														{{item.usuario}}</li>
												</ul>

											</div>

										</div>
									</div>
									<!--Adiministradores elegidos-->
									<div ng-repeat="(listName, list) in administradores.list2"
										class="col-md-6">
										<div class="panel panel-info">
											<div class="panel-heading">
												<h3 class="panel-title center">Elegidos</h3>
											</div>
											<div class="panel-body">
												<ul dnd-list="list" data-backdrop="static">
													<!-- The dnd-draggable directive makes an element draggable and will
												         transfer the object that was assigned to it. If an element was
												         dragged away, you have to remove it from the original list
												         yourself using the dnd-moved attribute -->
													<li style="cursor: pointer;" ng-repeat="item in list"
														dnd-draggable="item" dnd-moved="list.splice($index, 1)"
														dnd-effect-allowed="move"
														dnd-selected="administradores.selected = item"
														ng-class="{'selected':administradores.selected === item}">
														{{item.usuario}}</li>
												</ul>

											</div>

										</div>
									</div>

								</div>
								<div class="row">

									<div class="col-md-9">
									<flash-message name="flash-fixed"></flash-message>
									</div>
									<div class="col-md-1"></div>
									<div class="col-md-2">

										
										<button type="button" class="btn botones button1 "
											ng-click="AgregaAdmin()">
											<span class="glyphicon glyphicon-plus-sign"
												aria-hidden="true"></span> Guardar
										</button>
									</div>
								</div>
							</div>



						</div>
						<!-- Fin de la tabla de contenido-->
						<div class="modal-footer"></div>
					</div>
					<!-- Final modal content-->

				</div>
			</div>
			<!-- Final mymodal -->

		</div>

		<div class="col-md-1 col-md-offset-2">
			<h4 style="margin-top: 6px;">Proyecto:</h4>
		</div>
		<div class="col-md-3">
			<select class="col-md-12 btn btn-default"
				ng-model="proyectoSeleccionado"
				ng-change="changedValue(proyectoSeleccionado)"
				data-ng-options="proyt as proyt.nombreProyecto for proyt in proyectos">
				<option class="col-md-12" ng-repeat="proy in proyectos"
					value="{{proy.idProyecto}}">
					{{proy.nombreProyecto}}  
				</option>
			</select>

		</div>
		<div class="col-md-1" style="width: 11%;">
			<h4 style="margin-top: 6px;">Herramienta:</h4>
		</div>
		<div class="col-md-3">
			<select class="col-md-12 btn btn-default"
				ng-model="herrameintaSeleccionada">
				<option class="col-md-12" ng-repeat="herr in herramientas"
					value="{{herr.idHerramienta}}">
					{{herr}}
				</option>
			</select> 
			
			<span class="label label-warning" ng-show=Noherramientas>No
				han sido asignadas herramientas al proyecto </span>
		</div>

		<div class="col-md-12 text-center" style="margin-bottom: 50px;">

			<div class="row">
				</br>
			</div>
			<div class="simpleDemo row">
				<div class="col-md-1"></div>
				<div class="col-md-11">
					<div class="row">
						<div ng-repeat="(listName, list) in models.list1" class="col-md-5">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Lista de {{listName}}</h3>
								</div>
								<div class="panel-body">
									<ul dnd-list="list">
										<!-- The dnd-draggable directive makes an element draggable and will
							         transfer the object that was assigned to it. If an element was
							         dragged away, you have to remove it from the original list
							         yourself using the dnd-moved attribute 
							         dnd-selected="models.selected = item"-->
										<li style="cursor: pointer;" data-ng-repeat="item in list"
											dnd-draggable="item" data-toggle=modal
											data-target="#modalInfo" dnd-moved="list.splice($index, 1)"
											dnd-effect-allowed="move"
											ng-class="{'selected': models.selected === item}"
											ng-click="Informacion(item.nombre, item.usuario)">
											{{item.nombre}}</li>
									</ul>
								</div>

							</div>
						</div>


						<!-- Modal -->
						<div class="modal fade" id="modalInfo" role="dialog">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Perfil</h4>
									</div>
									<!--Tabla de contenido-->
									<div class="modal-body">

										<div class="row">
											<p class="titulo text-center">{{nombre}}</p>
										</div>
										<div class="container-fluid">
											<div class="row">

												<div class="col-sm-6 text-left">
													<form class="form-inline">
														<!--Buscador-->
														<div class="form-group">
															<label class="search"> <span
																class="glyphicon glyphicon-search"></span>
															</label> <input type="text" ng-model="search"
																class="form-control" placeholder="Alto">
														</div>
													</form>
												</div>

											</div>
										</div>
										<div class="row">
											<div class="col-md-12 text-center container-fluid">
												<table class="table table-striped table-hover">

													<thead>
														<tr>
															<th ng-click="sort('herramienta')">Conocimiento <span
																class="glyphicon glyphicon-sorting text-center"
																ng-show="sortKey=='herramienta'"
																ng-class="{'glyphicon-sort-by-alphabet-alt':reverse,'glyphicon-sort-by-alphabet':!reverse}"></span>
															</th>
															<th ng-click="sort('nivel')">Nivel <span
																class="glyphicon glyphicon-sorting text-center"
																ng-show="sortKey=='nivel'"
																ng-class="{'glyphicon-sort-by-alphabet-alt':reverse,'glyphicon-sort-by-alphabet':!reverse}"></span>
															</th>

														</tr>
													</thead>
													<tbody>
														<tr
															dir-paginate="user in ConocimientosUser|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
															<td ng-show="!user.edicionConoc">{{user.herramienta}}</td>
															<td ng-show="!user.edicionNivel"
																ng-click="editarConocimiento(user)">{{user.nivel}}</td>

															<!--Combo para agregar un conocimiento-->
															<td ng-show="user.edicionConoc" id="ListConom"><select
																class="btn btn-default" ng-model="user.herramienta">
																	<option ng-repeat="a in Listaconocimientos">{{a}}</option>
															</select></td>
															<!--Combo para agregar un nivel -->
															<td ng-show="user.edicionNivel" id="niveles"><select
																class="btn btn-default" ng-model="user.nivel">
																	<option ng-repeat="n in Niveles">{{n}}</option>
															</select></td>


														</tr>

													</tbody>

												</table>
												<dir-pagination-controls max-size="6" direction-links="true"
													boundary-links="true"> </dir-pagination-controls>

											</div>
										</div>


									</div>
									<!-- Fin de la tabla de contenido-->
									<div class="modal-footer"></div>
								</div>
								<!-- Final modal content-->

							</div>
						</div>
						<!-- Final mymodal -->


						<div class="col-md-1">
							</br> </br> </br> </br> <span class="glyphicon glyphicon-arrow-left"
								aria-hidden="true" title="Arrastra los recursos a los elegidos">
							</span> </br> </br> <span class="glyphicon glyphicon-arrow-right"
								aria-hidden="true" title="Arrastra los recursos a los elegidos"></span>

						</div>


						<div ng-repeat="(listName, list) in models.list2" class="col-md-5">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Recursos del proyecto</h3>
								</div>
								<div class="panel-body">
									<ul dnd-list="list">
										<!-- The dnd-draggable directive makes an element draggable and will
         transfer the object that was assigned to it. If an element was
         dragged away, you have to remove it from the original list
         yourself using the dnd-moved attribute -->
										<li style="cursor: pointer;" ng-repeat="item in list"
											dnd-draggable="item" dnd-moved="list.splice($index, 1)"
											dnd-effect-allowed="move"
											dnd-selected="models.selected = item"
											data-ng-class="{'selected': models.selected === item}"
											data-ng-style="setColor(item)"
											data-ng-mouseover="Muestra(item)"
											data-popover-placement="left" data-uib-popover="{{n}}"
											data-popover-trigger="'mouseenter'"
											data-popover-title="Posible candidato por:">{{item.nombre}}</li>
										<!-- <span class="label label-info" ng-show="Mypopover{{n}}!=''">{{n}}</span> -->
									</ul>

								</div>
							</div>
						</div>


					</div>

					<div view-source="simple"></div>

				</div>

			</div>


		</div>
		<div class="row">
			<div class="col-md-1""></div>
			<div class="col-md-8">
			<flash-message duration="4000"></flash-message>
			</div>
			<div class="col-md-2">

				<button type="button" class="btn botones button1 "
					ng-click="GuardaProyecto()">
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
					Guardar
				</button>
				
			<!--	<span class="label {{tipoMensaje}}" ng-show="Mensaje!=''">{{Mensaje}}</span>-->
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>

</div>