<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="cerrar()">&times;</button>
		<h4 class="modal-title">Nuevo Proyecto</h4>
	</div>
	<br>
	<form class="simple-form-PopUp" name="formProyecto" id="frmProy">
		<div class="form-row" style="width: 100%">
			<div class="form-group col-md-3">
				<label>NOM PROYECTO:</label>
			</div>
			<div class="form-group col-md-9">
				<input class="form-control" type="text" name="nombreProyecto"
					size="40" data-ng-model="proyectoNombre" required="required">
			</div>
		</div>
	</form>
	<div class="modal-footer">
		<div class="form-group col-md-9" style="text-align: center;">
			<flash-message duration="4000"></flash-message>
		</div>
		<div class="form-group col-md-3">
			<button form="frmProy" id="button" type="submit"
				style="width: auto; border: 0px; margin-bottom: 10px;"
				data-ng-click="formProyecto.$valid && guardar()">
				<span class="glyphicon glyphicon-import"></span>Agregar
			</button>
		</div>
	</div>
</div>