<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cerrar()">&times;</button>
		<h4 class="modal-title">Nuevo Cliente</h4>
	</div>
	<br>
	<form class="simple-form-PopUp" name="formClientes" id="frmCli">
		<div class="form-row" style="width: 100%">
			<div class="form-group col-md-3">
				<label>NOM CLIENTE:</label>
			</div>
			<div class="form-group col-md-9">
				<input class="form-control" type="text" name="nombreCliente"
					required="required" data-ng-model="nombre">
			</div>
			<div class="form-group col-md-3">
				<label>IMAGEN:</label>
			</div>
			<div class="form-group col-md-6">
				<input class="form-control" id="uploadFile"
					placeholder="Elija el archivo" disabled="disabled">
			</div>
			<input id="imageId" type="file"
				accept="image/jpeg,image/png" style="display: none" name="sampleFile">
			<div class="form-group fileUpload" id="button" data-ng-click="doClick()"
				style="right: 13px; width: 24%;">
				<span class="glyphicon glyphicon-file"> ARCHIVO</span>
			</div>
			<div class="form-group col-md-3" style="margin-bottom: 5px;"></div>
			<div class="form-group col-md-3">
				<label>NOM PROYECTO:</label>
			</div>
			<div class="form-group col-md-9">
				<input class="form-control" type="text" name="nomPro"
					data-ng-model="nombreProyecto" required="required">
			</div>
		</div>
	</form>
	<div class="modal-footer">
		<div class="form-group col-md-9" style="text-align: center;">
			<flash-message duration="4000"></flash-message>
		</div>
		<div class="form-group col-md-3">
			<button form="frmCli" id="button" type="submit"
				style="width: auto; border: 0px; margin-bottom: 10px;"
				data-ng-click="formClientes.$valid && guardar()">
				<span class="glyphicon glyphicon-import"></span>Agregar
			</button>
		</div>
	</div>
</div>