<div class="col-md-12" style="padding-top: 10px; background-color: rgba(255, 255, 255, 0.4); min-height: 500px;">
	<div menuEsquina></div>
	<div class="col-md-12 text-center" style="margin-bottom: 50px;">
		<h1 id="retroshadow">{{proyecto.nombreProyecto}} : Bit&aacute;cora De Cambios</h1>
	</div>
	<div id="user_table_wrapper" class="dataTables_wrapper no-footer">
		<div class="dataTables_length" id="user_table_length">
			<label class="texto"></label>Mostrar <select name="user_table_length"
				data-ng-model="maxSize_TabCambios"
				data-ng-init="maxSize_TabCambios='5'" aria-controls="user_table"
				class="select">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select> Registros
		</div>
		<div>
			<button id="button" data-toggle=modal data-target="#modalNuevo">
				<span class="glyphicon glyphicon-plus"></span>Nuevo
			</button>
		</div>
		<div id="user_table_filter" class="dataTables_filter">
			<label><input type="search" data-ng-model="search"
				placeholder="Buscar..." aria-controls="user_table"> </label>
		</div>
		<div style="height: 233px; display: inline-block; width: 100%; overflow: auto;">
			<table id="usser_table" class="table-striped display dataTable no-footer table-hover" style="width: 100%">
				<thead>
					<tr role="row">
						<th>Descripci&oacute;n</th>
						<th>Herramienta</th>
						<th>Fecha Solicitud</th>
						<th>Fecha Productiva</th>
						<th>Q. Solicit&oacute;</th>
						<th>Q. Autoriz&oacute;</th>
						<th>VoBo Bizpro</th>
						<th>Branch</th>
						<th>Estatus</th>
						<th>Commit</th>
						<th>Evidencias</th>
					</tr>
				</thead>
				<tbody>
					<tr style="text-align: center;" data-dir-paginate="z in proyecto.cambios | itemsPerPage:maxSize_TabCambios | filter:search ">
						<td>{{z.descripcion}}</td>
						<td>{{z.herramienta}}</td>
						<td>{{z.fechaSolicitud}}</td>
						<td>{{z.fechaProductiva}}</td>
						<td>{{z.qSolicito}}</td>
						<td>{{z.qAutorizo}}</td>
						<td>{{z.vobo}}</td>
						<td>{{z.branch}}</td>
						<td>{{z.estatus}}</td>
						<td>{{z.commit}}</td>
						<td id="ez">
							<button id="button" data-toggle=modal
								data-target="#modalEvidencias">
								<span class="glyphicon glyphicon-plus"></span>
							</button></td>
					</tr>
				</tbody>
			</table>
			<div data-ng-show="proyecto.cambios.length==0" style="text-align: center;" class="alert alert-danger">
				<label>No hay cambios almacenados para este Proyecto.</label>
			</div>
		</div>
		<div style="text-align: right;">
			<dir-pagination-controls ng-show="showTable" max-size="15" direction-links="true" boundary-links="true"></dir-pagination-controls>
		</div>
	</div>
</div>

< <!-- modal evidencias -->

	<div class="modal fade" tabindex="-1" role="dialog" id="modalEvidencias">
		<div class="modal-dialog modal-sm" role="document" style="top: 13%; width: 40%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
					<div style="font-size: 20px; text-align: center;" class="modal-title">Evidencias</div>
				</div>
				<div class=evidencias>
					<form>
						<input type="file" id="uploadEvidencias" multiple style="display: none">

				</form>
					<button id="button" type="button" data-ng-click="doClickEvidencias(each)"
					style="float: none; width: auto; border: 0px; margin-bottom: 10px;">
					<span class="glyphicon glyphicon-cloud-upload">Agregar</span>
				</button>
					<table id="table_evidencias" align="center">
						<tr data-ng-repeat="evidencias in evidenciasXCambioTmp">
							<td>
								<table>
									<tr data-ng-repeat="each in evidencias">
										<td>
											<a data-ng-href="{{'/download'}}?ruta={{each.ruta}}">{{each.nombreArchivo}}</a>
											<button id="button" type="button" data-ng-click="eliminarEvidencia(each)"
											style="float: none; width: auto; border: 0px; margin-bottom: 10px;">
											<span class="glyphicon glyphicon-remove"></span>
											</button> <br />
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div data-ng-show="evidenciasXCambioTmp[0].length==0" style="text-align: center;" class="alert alert-danger">
						<label>No hay evidencias almacenadas para este cambio.</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section style="display: inline-block; position: absolute; width: 60%; margin-left: 17%; margin-top: -14px; text-align: center;">
		<flash-message duration="4000"></flash-message>
	</section>


	<!-- modal agregar -->

	<div class="modal fade" tabindex="-1" role="dialog" id="modalNuevo">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					</button>
					<div style="font-size: 20px; text-align: center;" class="modal-title">Agregar Evento</div>
				</div>
				<div>
					<form class="simple-form-PopUp" name="myFrm" id="frm">
						<div class="modal-body">
							<div class="form-row">
								<div class="form-group col-sm-2">
									<label>Descripcion</label>
								</div>
								<div class="form-group col-sm-4">
									<input class="form-control" type="text" name="desc" required
									data-ng-model="descripcion">

							</div>
								<div class="form-group col-sm-2">
									<label>Herramientas</label>
								</div>
								<div class="form-group col-sm-4">
									<input class="form-control" type="text" name="herr"
									data-ng-model="herramienta" required>

							</div>
								<br> <br>
								<div class="form-group col-sm-2">
									<label>F.Sol</label>
								</div>
								<div class="form-group col-sm-4">
									<datepicker date-format="yyyy-MM-dd" type="text" selector="form-control">
										<div class="input-group">
											<input class="form-control" data-ng-model="fechaSolicitud" placeholder="yyyy-MM-dd"/>

									</div>
									</datepicker>
								</div>
								<div class="form-group col-sm-2">
									<label>F.Prod</label>
								</div>
								<div class="form-group col-sm-4">
									<datepicker date-format="yyyy-MM-dd" type="text" selector="form-control">
										<div class="input-group">
											<input class="form-control" data-ng-model="fechaProductiva" placeholder="yyyy-MM-dd" />

									</div>
									</datepicker>
								</div>
								<br> <br>
								<div class="form-group col-sm-2">
									<label>Q.Pidio</label>
								</div>
								<div class="form-group col-sm-4">
									<input class="form-control" type="text" name="qpidio" required
									data-ng-model="qSolicito">

							</div>
								<div class="form-group col-sm-2">
									<label>Q.Autor</label>
								</div>
								<div class="form-group col-sm-4">
									<input class="form-control" type="text" name="qautor" required
									data-ng-model="qAutorizo">

							</div>
								<br> <br>
								<div class="form-group col-sm-2">
									<label>VOBO</label>
								</div>
								<div class="form-group col-sm-4">
									<input class="form-control" type="text" name="vobo"
									data-ng-model="vobo" required>

							</div>
								<div class="form-group col-sm-2">
									<label>Branch</label>
								</div>
								<div class="form-group col-sm-4">
									<input class="form-control" type="text" name="branch"
									data-ng-model="branch" required>

							</div>
								<br> <br>
								<div class="form-group col-sm-2">
									<label>Comm</label>
								</div>
								<div class="form-group col-sm-4">
									<input class="form-control" type="text" name="comm"
									data-ng-model="commit" required>

							</div>
								<div class="form-group col-sm-2">
									<label>Estatus</label>
								</div>
								<div class="form-group col-sm-4">
									<input class="form-control" type="text" name="estatus"
									data-ng-model="estatus" required>

							</div>
								<br> <br>

						</div>
						</div>
					</form>
					<div class="col-sm-2">
						<label>Evidencia</label>
					</div>
					<div class="col-sm-4">
						<form>
							<input type="file" id="uploadFiles" multiple style="display: none">

					</form>
						<button id="button" data-ng-click="doClick()">
						<span class="glyphicon glyphicon-plus"></span>Agregar archivos
					</button>
					</div>
					<br> <br>

			</div>
				<div>
					<div class="modal-footer">
						<button form="frm" id="button" type="submit"
						style="width: auto; border: 0px; margin-bottom: 10px;"
						data-ng-click="myFrm.$valid && agregarBitacora()">
						<span class="glyphicon glyphicon-import"></span>Guardar
					</button>
					</div>
				</div>
			</div>
		</div>
	</div>
