<div class="col-md-12"
	style="padding-top: 10px; background-color: rgba(255, 255, 255, 0.4); min-height: 500px;">
	<div menuEsquina></div>

	<div class="col-md-12 text-center">
			<h1 id="retroshadow">{{proyectoBranch.nombreProyecto}} :
				BRANCHES</h1>
	</div>

	<div id="user_table_wrapper" class="dataTables_wrapper no-footer">
		<div class="dataTables_length" id="user_table_length">
			<label class="texto"></label>Mostrar <select name="user_table_length"
				data-ng-model="maxSize_tab"
				data-ng-init="maxSize_tab='5'"
				aria-controls="user_table" class="select">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>Registros
		</div>
		<div>
			<button id="button" data-toggle=modal data-target="#modalAgregar">
				<span class="glyphicon glyphicon-plus"></span>Nuevo
			</button>
		</div>
		<div id="user_table_filter" class="dataTables_filter">
			<label><input type="search" data-ng-model="search"
				placeholder="Buscar..." aria-controls="user_table"> </label>
		</div>
		<div
			style="height: 270px; display: inline-block; width: 100%; overflow-y: auto;">
			<table id="usser_table"
				class="table-striped display dataTable no-footer table-hover"
				style="width: 100%">
				<thead>
					<tr role="row">
						<th>Nombre</th>
						<th>Descripci&oacuten</th>
						<th>URL</th>
						<th>Productiva</th>
						<th>Permisos</th>
						<th style="width: 5%">Acci&oacuten</th>
					</tr>
				</thead>
				<tbody>
					<tr
						data-dir-paginate="b in proyectoBranch.branches | filter:search | itemsPerPage:maxSize_tab">
						<td>{{b.nombre}}</td>
						<td>{{b.descripcion}}</td>
						<td>{{b.url}}</td>
						<td>{{b.productiva}}</td>
						<td>{{b.permisos}}</td>
						<td>
							<button type="button" class="btn btn-danger btn-xs" data-toggle=modal data-target="#modalConfirmar" ng-click="confirmar($index)"><i class="glyphicon glyphicon-trash"></i></button>
							<button type="button" class="btn btn-info btn-xs" data-toggle=modal data-target="#modalEditar" ng-click="editar(b,$index)"><i class="glyphicon glyphicon-pencil"></i></button>
						</td>		
					</tr>
				</tbody>
			</table>
			<div ng-show="proyectoBranch.branches.length==0"
			       style="text-align: center;" class="alert alert-danger">
					<label>No hay Branches Almacenados para este Proyecto.</label>
			</div>
		</div>
		<div style="text-align: right;">
			<dir-pagination-controls ng-show="showTable" max-size="15"
				direction-links="true" boundary-links="true"></dir-pagination-controls>
		</div>
	</div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalAgregar">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<div style="font-size: 20px; text-align: center;"
					class="modal-title">Agregar Branch</div>
			</div>
			<form class="simple-form-PopUp" name="formBranches" id="frmBrn">
				<div class="modal-body" style="width: 100%">
					<div class="form-row" style="width: 100%">
						<div class="form-group col-md-2">
							<label>Nombre</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="nombre" required
								data-ng-model="nombre">
						</div>
						<div class="form-group col-md-2">
							<label>Descripci&oacuten</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="descripcion" required
								data-ng-model="descripcion">
						</div>
						<div class="form-group col-md-2">
							<label>URL</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="url" required
								data-ng-model="url">
						</div>
						<div class="form-group col-md-2">
							<label>Productiva</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="productiva" required
								data-ng-model="productiva">
						</div>
						<div class="form-group col-md-2">
							<label>Permisos</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="permisos" required
								data-ng-model="permisos">
						</div>
					</div>
				</div>
			</form>
			<div class="modal-footer">
				<div class="form-group col-md-8">
						<flash-message duration="3000"></flash-message>
				</div>
				<div class="form-group col-md-4">
					<button form="frmBrn" id="button" type="submit"
						style="width: auto; border: 0px; margin-bottom: 10px;"
						data-ng-click="formBranches.$valid && agregarBranch()">
						<span class="glyphicon glyphicon-import"></span>Agregar
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalConfirmar">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<div style="font-size: 20px; text-align: center;"
					class="modal-title">Eliminar?</div>
			</div>
			<div class="modal-footer">
				<div class="form-group col-md-12">
					<button id="button" type="submit"
					        data-dismiss="modal"
							style="width: auto; border: 0px; margin-bottom: 10px;"
							ng-click="eliminarBranch()">
							<span class="glyphicon glyphicon-import"></span>Eliminar
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalEditar">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<div style="font-size: 20px; text-align: center;"
					class="modal-title">Editar Branch</div>
			</div>
			<form class="simple-form-PopUp" name="formActualizarBranch" id="frmacbrn">
				<div class="modal-body">
					<div class="form-row" style="width: 100%">
						<div class="form-group col-md-2">
							<label>Nombre</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="nombre" required
								data-ng-model="nombreEd">
						</div>
						<div class="form-group col-md-2">
							<label>Descripci&oacuten</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="descripcion" required
								data-ng-model="descripcionEd">
						</div>
						<div class="form-group col-md-2">
							<label>URL</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="url" required
								data-ng-model="urlEd">
						</div>
						<div class="form-group col-md-2">
							<label>Productiva</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="productiva" required
								data-ng-model="productivaEd">
						</div>
						<div class="form-group col-md-2">
							<label>Permisos</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="permisos" required
								data-ng-model="permisosEd">
						</div>
					</div>
				</div>
			</form>
			<div class="modal-footer">
					<div class="form-group col-md-8">
							<flash-message duration="3000"></flash-message>
					</div>
					<div class="form-group col-md-4">
						<button form="frmacbrn" id="button" type="submit"
							style="width: auto; border: 0px; margin-bottom: 10px;"
							data-ng-click="formActualizarBranch.$valid && actualizarBranch()">
							<span class="glyphicon glyphicon-import"></span>Actualizar
						</button>
					</div>
			</div>
		</div>
	</div>
</div>
