<div class="col-md-12"
	style="padding-top: 10px; background-color: rgba(255, 255, 255, 0.4); min-height: 500px;">
	<div menuEsquina></div>
	<div class="col-md-12 text-center">
		<h1 id="retroshadow">Credenciales de Cliente</h1>
	</div>
	<div id="user_table_wrapper" class="dataTables_wrapper no-footer">
		<div class="dataTables_length" id="user_table_length">
			<label class="texto"></label>Mostrar <select name="user_table_length"
				data-ng-model="maxSize_TabCredenciales"
				data-ng-init="maxSize_TabCredenciales='5'"
				aria-controls="user_table" class="select">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>Registros
		</div>
		<div>
			<button id="button" data-ng-click="clickAdd()" data-toggle=modal
				data-target="#modalAgregar">
				<span class="glyphicon glyphicon-plus"></span>Nuevo
			</button>
		</div>
		<div id="user_table_filter" class="dataTables_filter">
			<label><input type="search" data-ng-model="search"
				placeholder="Buscar..." aria-controls="user_table"> </label>
		</div>
		<section
			style="display: inline-block; position: absolute; width: 60%; margin-left: 17%; margin-top: -14px; text-align: center;">
			<flash-message duration="4000"></flash-message>
		</section>
		<div
			style="height: 270px; display: inline-block; width: 100%; overflow-y: auto;">
			<table id="cred_table"
				class="table-striped display dataTable no-footer table-hover"
				style="width: 100%">
				<thead>
					<tr role="row">
						<th>Ambiente</th>
						<th>Ip</th>
						<th>HostName</th>
						<th>Usuario</th>
						<th>Contrase&ntildea</th>
						<th>Puerto</th>
						<th>SID</th>
						<th>Protocolo</th>
						<th style="width: 6%">Expira</th>
						<th style="width: 5%">Acci&oacuten</th>
					</tr>
				</thead>
				<tbody>

					<tr style="text-align: center;"
						data-dir-paginate="z in datosCliente.credenciales | filter:search | orderBy:sortKey:reverse | itemsPerPage:maxSize_TabCredenciales "
						title="Ultima Actualizaci&oacute;n : {{z.fechamovimiento}}">
						<td>{{z.ambiente}}</td>
						<td>{{z.ip}}</td>
						<td>{{z.hostname}}</td>
						<td>{{z.usuario}}</td>
						<td>{{z.contrasena}}</td>
						<td>{{z.puerto}}</td>
						<td>{{z.sid}}</td>
						<td>{{z.protocolo}}</td>
						<td data-ng-style="setColor(z)" data-ng-show="z.expira != null">{{z.dias}}
							dias</td>
						<td data-ng-show="z.expira == null">N/D</td>
						<td>
							<button type="button" class="btn btn-danger btn-xs"
								data-ng-click="eliminarCredencial(z)" title="Eliminar">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
							<button type="button" class="btn btn-info btn-xs"
								data-ng-click="cargarDatosSeleccionados(z)" data-toggle=modal
								data-target="#modalAgregar" title="Actualizar">
								<i class="glyphicon glyphicon-pencil"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div data-ng-show="datosCliente.credenciales.length==0"
				style="text-align: center;" class="alert alert-danger">
				<label>No hay Credenciales Almacenadas para este Cliente.</label>
			</div>
		</div>
		<div class="col-md-12" style="text-align: right;">
			<dir-pagination-controls ng-show="showTable" max-size="15"
				direction-links="true" boundary-links="true"></dir-pagination-controls>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalAgregar">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<div style="font-size: 20px; text-align: center;"
					data-ng-show="valueUptade != 1" class="modal-title">Agregar
					Credenciales</div>
				<div style="font-size: 20px; text-align: center;"
					data-ng-show="valueUptade == 1" class="modal-title">Editar
					Credenciales</div>
			</div>
			<form class="simple-form-PopUp" name="formCredenciales" id="frm">
				<div class="modal-body">
					<div class="form-row" style="width: 100%">
						<div class="form-group col-md-2">
							<label>Ambiente</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="ambiente"
								data-ng-model="ambiente" required>
						</div>
						<div class="form-group col-md-2">
							<label>IP :</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="inputIp"
								data-ng-model="ip" placeholder="xxx.xxx.xxx.xxx"
								data-ng-ip-address required>
						</div>
						<div class="form-group col-md-12" data-ng-hide="dat"
							data-ng-show="formCredenciales.inputIp.$dirty && formCredenciales.inputIp.$invalid"
							style="margin: -12px 2px 3px;" data-ng-model="dat">
							<span
								data-ng-show="formCredenciales.inputIp.$dirty && formCredenciales.inputIp.$invalid"
								class="label label-danger" style="float: right;">La IP es
								invalida!.</span>
						</div>
						<div class="form-group col-md-2">
							<label>HostName</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="hn" required
								data-ng-model="hostname">
						</div>
						<div class="form-group col-md-2">
							<label>Usuario</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="usu" required
								data-ng-model="usuario">
						</div>
						<div class="form-group col-md-2">
							<label>Contrase&ntilde;a</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="pass" required
								data-ng-model="contrasena">
						</div>
						<div class="form-group col-md-2">
							<label>Puerto</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="puerto" required
								data-ng-model="puerto">
						</div>
						<div class="form-group col-md-2">
							<label>SID</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="sid"
								data-ng-model="sid">
						</div>
						<div class="form-group col-md-2">
							<label>Protocolo</label>
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" type="text" name="prot"
								data-ng-model="protocolo">
						</div>
						<div class="form-group col-md-2">
							<label>Expira</label>
						</div>
						<div class="form-group col-md-4" data-ng-show="valueUptade == 1">
							<datepicker date-format="yyyy-MM-dd" selector="form-control">
							<input class="form-control" data-ng-model="expira"
								placeholder="{{placeHolder}}"> </datepicker>
						</div>
						<div class="form-group col-md-4" data-ng-show="valueUptade != 1">
							<datepicker date-format="yyyy-MM-dd" selector="form-control">
							<input class="form-control" data-ng-model="expira"
								placeholder="yyyy-MM-dd"> </datepicker>
						</div>
					</div>
				</div>
			</form>
			<div class="modal-footer" data-ng-show="valueUptade != 1">
				<div class="form-group col-md-8">
					<flash-message duration="2000"></flash-message>
				</div>
				<div class="form-group col-md-4">
					<button form="frm" id="button" type="submit"
						style="width: auto; border: 0px; margin-bottom: 10px;"
						data-ng-click="formCredenciales.$valid && agregarCredenciales()">
						<span class="glyphicon glyphicon-import"></span>Agregar
					</button>
				</div>
			</div>
			<div class="modal-footer" data-ng-show="valueUptade == 1">
				<div class="form-group col-md-12">
					<button form="frm" id="button" type="submit"
						style="width: auto; border: 0px; margin-bottom: 10px;"
						data-ng-click="formCredenciales.$valid && agregarCredenciales()"
						data-dismiss="modal">
						<span class="glyphicon glyphicon-import"></span>Actualizar
					</button>
				</div>
			</div>
		</div>
	</div>
</div>