<div class="col-md-12"
	style="padding-top: 10px; background-color: rgba(255, 255, 255, 0.4); min-height: 500px;">
	<div menuEsquina></div>
	<div class="col-md-12 text-center" style="margin-bottom: 50px;">
		<h1 id="retroshadow">{{detallesProyecto.nombreProyecto}}: Detalle</h1>
		<section
			style="position: relative; display: inline-block; float: right; margin-top: -65px; margin-right: 17px;">
			<img alt="EnProceso" src={{imagen}}>
		</section>
		<form class="form-horizontal"
			style="margin-top: 140px; border: solid 2px #015F70;"
			name="formDetalleProyecto">
			<div class="form-group" style="margin-top: 10px">
				<div class="col-sm-2">
					<label for="fnom">NOMBRE : </label>
				</div>
				<div class="col-sm-10">
					<input type="text" class="form-control"
						data-ng-model="detallesProyecto.nombreProyecto" style="width: 98%; text-transform: capitalize;"
						readonly>
				</div>
				<div class="col-sm-12">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2">
					<label for="fdes">DESCRIPCION:</label>
				</div>
				<div class="col-sm-10">
					<input type="text" name="descripcion" class="form-control"
						data-ng-model="detallesProyecto.descripcion" style="width: 98%; text-transform: capitalize;"
						data-ng-minlength="5"
						required>
				</div>
				<div class="col-sm-12">
					<span
						data-ng-show="formDetalleProyecto.descripcion.$dirty && formDetalleProyecto.descripcion.$invalid">
					<span
						data-ng-show="formDetalleProyecto.descripcion.$error.required"
						class="label label-danger">La descripcion es requerida!.</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2">
					<label for="fdes">DETALLE ESTATUS:</label>
				</div>
				<div class="col-sm-10">
					<input type="text" name="detalleEstatus" class="form-control"
						data-ng-model="detallesProyecto.detalleEstatus" style="width: 98%; text-transform: capitalize;"
						required>
				</div>
				<div class="col-sm-12">
					<span
						data-ng-show="formDetalleProyecto.detalleEstatus.$dirty && formDetalleProyecto.detalleEstatus.$invalid">
					<span
						data-ng-show="formDetalleProyecto.detalleEstatus.$error.required"
						class="label label-danger">El detalle del estatus es
							requerido!.</span></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2">
					<label for="fdes">ESTATUS:</label>
				</div>
				<div class="col-sm-10">
					<select class="form-control"
						data-ng-init="detallesProyecto.estatus"
						data-ng-model="detallesProyecto.estatus"
						data-ng-change="onChanged()" style="width: 98%">
						<option disabled selected value> -- selecciona una opcion -- </option>
						<option value="Iniciado">Iniciado</option>
						<option value="En Proceso">En Proceso</option>
						<option value="Terminado">Terminado</option>
					</select>
				</div>
			</div>
			<div class="form-group simpleDemo">
				<div data-ng-repeat="(listName, list) in models.lists"
					class="col-md-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Lista de Herramientas {{listName}}</h3>
						</div>
						<div class="panel-body panel-scroll">
							<ul data-dnd-list="list" data-backdrop="static" style="text-transform: uppercase;">
								<!-- The dnd-draggable directive makes an element draggable and will
        								 transfer the object that was assigned to it. If an element was
         								 dragged away, you have to remove it from the original list
        								 yourself using the dnd-moved attribute -->
								<li data-ng-repeat="item in list" data-dnd-draggable="item"
									data-dnd-moved="list.splice($index, 1)"
									data-dnd-effect-allowed="move"
									data-dnd-selected="models.selected = item"
									data-ng-class="{'selected': models.selected === item}"
									data-ng-click="Informacion(item)"
									style="font-size:11px">{{item}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<button id="button" style="float: none;"
					    type="submit"
						data-ng-click="formDetalleProyecto.$valid && actualizarProyecto()">
						<span class="glyphicon glyphicon-refresh"></span>Actualizar
					</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<flash-message duration="4000"></flash-message>
				</div>
			</div>

		</form>
	</div>
</div>