<div class="col-md-12"
	style="padding-top: 10px; background-color: rgba(255, 255, 255, 0.4); min-height: 500px;">
	<div menuEsquina></div>
	<div class="col-md-12 text-center">
		<h1 id="retroshadow">{{datosProyecto.nombreProyecto}} :
			DOCUMENTACI&Oacute;N</h1>
	</div>
	<div id="user_table_wrapper" class="dataTables_wrapper no-footer">
		<div class="dataTables_length" id="user_table_length">
			<label class="texto"></label>Mostrar  <select name="user_table_length"
				data-ng-model="maxSize_TabDocumentos"
				data-ng-init="maxSize_TabDocumentos='5'" aria-controls="user_table"
				class="select">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>  Registros
		</div>
		<div>
			<button id="button" data-toggle=modal data-target="#modalAgregar">
				<span class="glyphicon glyphicon-plus"></span>Nuevo
			</button>
		</div>
		<div id="user_table_filter" class="dataTables_filter">
			<label><input type="search" data-ng-model="search"
				placeholder="Buscar..." aria-controls="user_table"> </label>
		</div>
		<section
			style="display: inline-block; position: absolute; width: 60%; margin-left: 17%; margin-top: -14px; text-align: center;">
			<flash-message duration="4000"></flash-message>
		</section>
		<div style="display: inline-block; width: 100%; overflow-y: auto;">
			<table id="usser_table"
				class="table-striped display dataTable no-footer table-hover"
				style="width: 100%">
				<thead>
					<tr role="row">
						<th>Nombre Doc.</th>
						<th>Descripci&oacute;n</th>
						<th>Descargar Archivo</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr style="text-align: center;"
						data-dir-paginate="z in datosProyecto.documentos | filter:search | orderBy:sortKey:reverse | itemsPerPage:maxSize_TabDocumentos ">
						<td>{{z.nombreDocumento}}</td>
						<td>{{z.descripcion}}</td>
						<td>
							<button type="button" class="btn btn-success btn-sm"
								data-ng-click="getRutaSeccionDownload(z)">
								<i class="glyphicon glyphicon-download-alt"></i>
							</button>
						<td>
							<button type="button" class="btn btn-danger btn-sm"
								data-ng-click="eliminarDocumento(z)">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div data-ng-show="datosProyecto.documentos.length == '0'"
				style="text-align: center;" class="alert alert-danger">
				No hay documentos almacenados para el Proyecto<strong>
					{{datosProyecto.nombreProyecto}}</strong>
			</div>
		</div>
		<div style="text-align: right;">
			<dir-pagination-controls ng-show="showTable" max-size="15"
				direction-links="true" boundary-links="true"></dir-pagination-controls>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalAgregar">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<div style="font-size: 20px; text-align: center;"
					class="modal-title">Agregar Documento</div>
			</div>
			<form class="simple-form-PopUp" name="formDocumentos" id="frmDoc">
				<div class="modal-body" style="width: 100%">
					<div class="form-row" style="width: 100%">
						<div class="form-group col-md-2">
							<label>DESCRIPCION :</label>
						</div>
						<div class="form-group col-md-10">
							<input class="form-control" type="text" name="desc"
								data-ng-model="descripcion" required="required">
						</div>
						<div class="form-group col-md-2">
							<label>ARCHIVO :</label>
						</div>
						<div class="form-group col-md-7" data-ng-show="valueUptade == 1">
							<input class="form-control" type="text" name="ruta"
								data-ng-model="ruta" disabled="disabled">
						</div>
						<div class="form-group col-md-7" data-ng-show="valueUptade != 1">
							<input class="form-control" id="uploadFile"
								placeholder="Elija el archivo" disabled="disabled">
						</div>
						<div class="form-group col-md-3 fileUpload" id="button"
							style="right: 13px">
							<span class="glyphicon glyphicon-file"> ARCHIVO</span> <input
								id="fileInput" type="file" class="upload" required="required">
						</div>
					</div>
				</div>
			</form>
			<div class="modal-footer">
				<div class="form-group col-md-8">
					<flash-message duration="3000"></flash-message>
				</div>
				<div class="form-group col-md-4">
					<button form="frmDoc" id="button" type="submit"
						style="width: auto; border: 0px; margin-bottom: 10px;"
						data-ng-click="formDocumentos.$valid && agregarDocumentos()">
						<span class="glyphicon glyphicon-import"></span>Agregar
					</button>
				</div>
			</div>
		</div>
	</div>
</div>