<div class="col-md-12" style="padding-top: 10px;">
    <div class="col-md-6 text-center">
        <img src="../css/resources/Logo.png" alt="TPMLogo" class="logoResponsive">
    </div>
    <div class="col-md-6">
        <div class="vertical-offset-100 col-md-8 col-md-offset-1 text-center">
            <div class="panel panel-default panel-login">
                <div class="panel-heading  header-panel-login">
                    <h1 class="panel-title text-center" style="font-size:30px;">Bienvenido</h1>
                </div>
                <div class="panel-body" style="padding: 30px;">
                    <!--Formulario-->
                    <form name="loginForm" class="form-signin" method="post" ng-submit="submit()" novalidate form-autofill-fix>
                        <div class="input-group" style="margin-bottom:10px;width: 100%;">
                            <input type="text" class="form-control" name="login" id="login" 
                                   ng-model="credentials.login" placeholder="USUARIO" required />
                        </div>
                        <div class="text-center" ng-show="(submitted || loginForm.login.$dirty) && loginForm.login.$invalid">
                            <span class="label label-danger" ng-show="loginForm.login.$error.required">Campo obligatorio</span>
                        </div>
                        <div class="input-group" style="margin-bottom:10px;margin-top:10px;width: 100%;">
                            <input type="password" class="form-control" name="password" id="password" 
                                   ng-model="credentials.password" placeholder="CONTRASEÑA" required />
                        </div>
                        <div class="text-center" ng-show="(submitted || loginForm.password.$dirty) && loginForm.password.$invalid">
                            <span class="label label-danger" ng-show="loginForm.password.$error.required">Campo obligatorio</span>
                        </div>
                        <button type="submit" id="btn-login" class="btn botones">INICIAR SESIÓN</button>                        
			            <div class="text-center col-md-12">
			                <span class="label label-danger" ng-show="error">{{errorMsj}}</span>
			            </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="text-center col-md-12">
                <span class="label label-default">BizPro V1.0 2017</span>
            </div>
        </div>
    </div>
</div>