<div class="col-md-12" style="padding-top: 10px;background-color: rgba(255, 255, 255, 0.4);min-height: 500px;">
	<div menuEsquina></div>
	
	<div class="col-md-12 text-center">
			<h1 id="retroshadow">PROYECTOS CERRADOS : {{clienteSeleccionado.nombreCliente}}</h1>
	</div>
	<div class="col-md-12 text-center">
		<label class="label {{claseLabel}}" ng-show="successTextAlert!=''">{{successTextAlert}}</label>
	</div>

	<div class="col-md-offset-1 col-md-11" ng-show="proyectosCerrados.length==0">
		<div style="text-align: center;" class="alert alert-danger">
			<label>No hay Proyectos Cerrados para este Cliente.</label>
		</div>
	</div>
	
	<div class="col-md-offset-1 col-md-11"  ng-repeat="proyecto in proyectosCerrados">
		<div class="col-md-11 proyCerrado">
			<div class="col-md-10" style="margin-top:6px;font-size: 20px;">
				{{proyecto.nombreProyecto}}
			</div>
			<div class="col-md-2 text-right" style="margin-top:2px;">
				<button class="btn botones" ng-click="irAProyecto(proyecto)">
	              <span class="glyphicon glyphicon-eye-open"></span> Detalle
	          </button>
			</div>
		</div>	 
		<div class="col-md-1">
			<div class="col-md-12 proyCerrado2">
				<form style="margin-top:2px;">
				  <switch id="enabled" name="enabled" ng-model="proyecto.visible" disabled="disabled"
				  	 class="green" on="S" off="N" ng-change="cambiaVisibilidad(proyecto,proyecto.visible)"></switch>
				</form>
			</div>
		</div>	
	</div>
	<div class="form-group" style="margin-bottom: 50px;">
		<div class="col-md-6">
			<flash-message duration="4000"></flash-message>
		</div>
	</div>
</div>