<nav class="navbar navbar-default navbar-header-background"
	ng-controller="header" style="margin-bottom: 0px;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false" ng-hide="enlogin">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<div class="navbar-brand" style="color: white;">
				<a ng-click="goClients()">
				<img src="../../css/resources/LogoHeader.png"
					style="width: 40px; margin-top: -10px; margin-right: 10px; float: left;">
				</a>
			    TechPM
			</div>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<div
				style="text-align: center; margin-right: 4%; margin-bottom: -47px;" data-ng-show="banderaImagen == 1">
				<a ng-click="goProjects()">
				   <img style="width: 45px; height: 45px;"
					   data-ng-src="{{'\getImagenCliente'}}?rutaImagenCliente={{clienteSeleccionado.imagen}}">
				</a>
			</div>
			<ul class="nav navbar-nav menuToggle" style="float: right;"
				ng-hide="enlogin">
				<li><a style="color: white;" data-toggle="modal"
					data-backdrop="static" data-target="#myModal" data-ng-click="Init()"><span
						class="glyphicon glyphicon-user"></span></a></li>
				<li><a ng-click="logout()" style="color: white;"><span
						class="glyphicon glyphicon-log-out"></span></a></li>
			</ul>
			<!-- Modal -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button ng-click="cierraModal()" type="button" class="close"
								data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Perfil</h4>
						</div>
						<!--Tabla de contenido-->
						<div class="modal-body">

							<div class="row">
								<p class="titulo text-center" style="font-size:22px">{{nombre}}</p>
							</div>
							<div class="container-fluid">
								<div class="row">

									<div class="col-sm-6 text-left" style="margin-bottom: 5px;">
										<!--Buscador-->
										<div class="input-group">
											
											<input type="text" class="form-control" placeholder="Buscar..."
												ng-model="search" style="margin-top: 2px;">
										</div>
									</div>
									<div class="col-sm-6 text-right" style="margin-top: 4px;">
										<button type="button" class="btn botones"
											ng-click="InputsConocimiento()" ng-disabled=opcionesNuevo
											data-toggle="tooltip" title={{Noherramientas}}>
											<span class="glyphicon glyphicon-plus"
												aria-hidden="true"></span>
											Nuevo 
										</button>
									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-center container-fluid">
									<table class="table table-striped table-hover">

										<thead>
											<tr>
												<th>Conocimiento
												</th>
												<th>Nivel
												</th>

											</tr>
										</thead>
										<tbody>
											<tr style="font-size: 12px;"
												dir-paginate="user in ConocimientosUser|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
												<td ng-show="!user.edicionConoc">{{user.herramienta}}</td>
												<td ng-show="!user.edicionNivel"
													ng-click="editarConocimiento(user)">{{user.nivel}}</td>

												<!--Combo para agregar un conocimiento-->
												<td ng-show="user.edicionConoc" id="ListConom"><select
													class="btn btn-default" ng-model="user.herramienta">
														<option ng-repeat="a in Listaconocimientos">{{a}}</option>
												</select></td>
												<!--Combo para agregar un nivel -->
												<td ng-show="user.edicionNivel" id="niveles"><select
													class="btn btn-default" ng-model="user.nivel">
														<option ng-repeat="n in Niveles">{{n}}</option>
												</select></td>


											</tr>

										</tbody>

									</table>
									<dir-pagination-controls max-size="6" direction-links="true"
										boundary-links="true"> </dir-pagination-controls>

								</div>
							</div>

							<div class="row">
							<div class="form-group col-md-9">
							<flash-message name="flash1"></flash-message>
							</div>
								<div class="form-group col-md-3">
									
									<button type="button" class="btn botones"
										ng-click="AgregaConocimiento()" ng-disabled=opcionesAgregar 
										style="width: auto; border: 0px; margin-bottom: 10px;">
										<span class="glyphicon glyphicon-retweet"
											aria-hidden="true"></span>Actualizar 
									</button>
								</div>
							</div>

						</div>
						<!-- Fin de la tabla de contenido-->
						<div class="modal-footer"></div>
					</div>
					<!-- Final modal content-->

				</div>
			</div>
			<!-- Final mymodal -->



		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>