<section class="menu menu--circle" style="margin-top:-11px;margin-left:-15px;" ng-controller="menuEsquina" ng-show="mostrarMenu">
  <input type="checkbox" id="menu__active"/>
  <label for="menu__active" class="menu__active">
    <div class="menu__toggle">
      <div class="icon" data-ng-show="!mostrarHover">
        <div class="hamburger"></div>
      </div>
      <div class="icon" data-ng-show="mostrarHover">
        {{descripcion}}
      </div>
    </div>
    <input type="radio" name="arrow--up" id="degree--up-0"/>
    <input type="radio" name="arrow--up" id="degree--up-1" />
    <input type="radio" name="arrow--up" id="degree--up-2" />
    <div class="menu__listings">
      <ul class="circle">
        <li ng-repeat="sec in secciones" data-backdrop="static">
          <div class="placeholder">          	
            <div class="upside">
              <a data-ng-click="agregarCliente(sec)" class="button" 
              		data-ng-mouseenter="hover(sec.decripcion)" data-ng-mouseleave="noHover()" data-toggle="modal" 
              		data-target=".bs-example-modal-sm">
              	<span class="{{sec.icono2}}" style="font-size: 15px;"/>
              	<span class="{{sec.icono}}"/>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="menu__arrow menu__arrow--top" ng-show="secciones.length > 3">
      <ul>
        <li>
          <label for="degree--up-0"><div class="arrow"></div></label>
          <label for="degree--up-1"><div class="arrow"></div></label>
        </li>
      </ul>
    </div>
  </label>
</section>