/* Website-Container */
html, body {
  height: 100%;
}

body {
  margin: 0;

  overflow: hidden;
}

.container {
    position: relative;
    margin-top: -40px;
    height: 600px;
    overflow: hidden;
}
.nomcli{
	text-align: center;
    width: 160px;
    height: 100px;
    /* border-radius: 50%; */
    line-height: 100px;
    color: #9DCDD3;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-decoration: none;
    text-shadow: 1px 1px #015f70, 0 0 #9DCDD3, 2px 3px 1px #015f70;
    text-transform: none;
    word-spacing: -2px;
    font-size: 37px;
}

/* Style der Satelliten */

.orbit li input+label {
    position: absolute;
    left: 50%;
    bottom: 100%;
    top: -25px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-left: -40px;
    background: #9DCDD3;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    font-family: century gothic;
    color: white;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.8s ease-in-out, color 0.111s, background 0.1s;
    text-transform: uppercase;
}
.orbit li input+label#submenu {
    background: #562D2F;
}

.orbit li input+label {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.orbit li input {
    display: none;
}

ul.orbit.orbitlistJS li {
    transition: all 0.2s linear;
}

ul.orbit.orbitlistJS {
    list-style-type: none;
    position: relative;
}

ul.orbit.orbitlistJS li input+label:hover {
    background: #015F70;
}
ul.orbit.orbitlistJS li input+label#submenu:hover {
    background: #AD807B;;
}

.orbit li.orbitlistJS-trace {
    background: #1ca;
}

.orbit li.orbitlistJS-active {
    background: #2F4;
}